<% if @article.errors.any? %>
  <h3> the <%= @article.errors.count %>following errors prevented the article from getting created</h3>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:@article ,local: true do |f| %>
 <p>
  <%= f.label :Title %><br/>
  <%= f.text_field :title %>   
 </p>
 <p>
  <%= f.label :Description %><br/>
  <%= f.cktext_area :description %>
 </p>
  <p>
    <%= f.label :Tag_for_Article %><br/>
    <%= f.collection_select :category_id, Category.all,:id,:name, include_blank: false %>
  </p>
  <p>
    <%= f.label :files %><br/>
    <%= f.file_field :files, multiple: true %>
  </p>
  <p> 
    <% if @article.files.present? %>
      Uploaded Files: 
      <% @article.files.each do |file|  %>
      <%= link_to file.filename, file, target: :blank %>
      <% end %>
    <% end %>
  </p>  
  <p>
    <%= f.submit  class: "btn btn-success btn-lg" %>
  </p>
<% end %>
