<table class="table">
  <thead class="thead-dark">
    <% if @articles.length == 0 %>
    <tr>
      <td>no record found</td>
    </tr>
    <% else %>
       <tr>
           <th>Title</th>
           <th>Description</th>
           <th>Tag</th>
           <th></th>
           <th></th>
           <th></th>
          </tr>
      <% @articles.each do |article| %>
        <% if article.status == 'accept'%>
          <tr>
            <td><%= article.title %></td>
            <td><%= raw article.description %></td>
            <td><%= article.category.name if article.category %></td>
            <td><%= link_to "show", article_path(article), class: "btn btn-primary  btn-sm"%></td>
            <% if  current_user && (current_user == article.user || current_user.role == "admin" ) %>
              <td><%= link_to "edit", edit_article_path(article), class: "btn btn-primary  btn-sm"  %></td>
              <td><%= link_to "delete", article_path(article), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger  btn-sm"  %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </thead>  
</table>
 <% if @rejected_articles %>
    <div class = "centerp">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    </div>  
 <% end %>
