<h1>your notification</h1>
<table style="width:700px" class="table">
  <thead class="thead-dark">
      <% @likes.each do |like| %>
        <tr>
            <td><%= like.user.name %> is liked article <%= like.article.title %> of <%= like.likeable_type %>  </td>
        </tr>
      <% end %>
      <% @comments.each do |comment|%>
      <tr>
        <td><%=comment.user.name %> is liked comment of article <%=comment.article.title %></td>
      </tr>
      <% end %>
  </thead>     
</table>
<%= link_to 'Back', :back, class: "btn btn-primary btn-lg" %>
