<h3>selected Article</h3>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %><br/>
  <small>
     created by: <%= @article.user.name if @article.user %><br/>
    created at: <%= time_ago_in_words(@article.created_at) %><br/>
    update at: <%= time_ago_in_words(@article.updated_at) %> 
  </small>
</p>  
<p><%= link_to "show all articles", articles_path %>|
<%= link_to "new article", new_article_path %></p>