
<h3>selected Article</h3>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= raw @article.description %><br/>
</p>
<p>

  Files: 
  <% @article.files.each do |file| %>
  <!-- <%= link_to file.filename, file, target: :blank %> -->
    <% if @article.files.present? %>
      <div style="width:400px; hiegth:auto" >
        <%= image_tag(file, style:"width:100%") %>
      </div>
    <% else %>
      <h3> Image is not uploaded </h3>
    <% end %>
  <%end%>
</p>   
<p> 
  Tag: <%= @article.category.name if  @article.category %><br/>
  <small>
     created by: <%= @article.user.name if @article.user %><br/>
    created at: <%= time_ago_in_words(@article.created_at) %> ago<br/>
    update at: <%= time_ago_in_words(@article.updated_at) %> ago
  </small><br/>
   <% if current_user %>
   <td>
     <% if is_liked?(@article).nil? %>
       <%= link_to "like", likes_path(article_id: @article.id, type: 'Article'),method: :post, class: "btn btn-primary  btn-sm" %>like count <%= @article.likes.count %>
     <% else%>
       <%= link_to "dislike", like_path(is_liked?(@article), article_id: @article.id, type: 'Article'),method: :delete, class: "btn btn-danger  btn-sm" %>like count <%= @article.likes.count %>
     <% end %>
   </td>
 <% end %>
  <%= render :partial => 'comments/comment', locals: {object: @comments} %>   
   <% if current_user %>
      <h2> Add Comments here </h2>
      <%= render 'comments/form' %>
    <% else %>
      <h3> Please Sign in for add comments </h3>
    <% end %>
</p>
<p><%= link_to "show all articles", articles_path %>
<% if current_user && (current_user == @article.user || current_user.role == "admin") %>
 |<%= link_to "new article", new_article_path %>
 |<%= link_to "edit article", edit_article_path(@article) %>
 |<%= link_to 'Back', :back %>
<% end %>
</p>