<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'custome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %> 

   <!-- <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> -->
  </head>
  <body>
      <% if !current_user %>
      <%= link_to "sign in", new_user_session_path %>
      <% end %>
      <% if current_user %>
        <p>Current User: <%= current_user.name %></p>
        <%= link_to "log out", destroy_user_session_path, method: "delete", class: "btn btn-primary btn-lg" %>
        <%= link_to "edit user", edit_user_registration_path, class: "btn btn-primary btn-lg" %> 
      <% end %>
      <h3 class="notice"><%= notice %></h3>
      <h3 class="alert"><%= alert %></h3> 
      <%= yield %>

  </body>
</html>
